.upper_buttons {
  display: flex;
  justify-content: space-between;
}

.sub_upper_buttons {
  display: flex;
  justify-content: space-between;
}

/* ниже селектор. сложнее не будет в дальнейшем */

.sub_upper_buttons > li {
  margin: 15px;
}

/* ниже медиа-запрос */

@media only screen and (max-width: 480px) {
  .upper_buttons {
    display: block;
  }
  .sub_upper_buttons {
    display: block;
  }
  body {
    background-color: green;
  }
}

/* делал ниже сам */

.promo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo_list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2516c7;
  border: solid #2516c7;
  border-radius: 5px;
  width: fit-content;
  height: 80px;
  margin: auto;
}

.sublist_1 {
  display: flex;
  border-bottom: 2px solid red;
  border-right: 2px solid white;
  margin-right: 5px; /* бордеры нужно уменьшать паддингами */
}

.sublist_2 {
  display: flex;
  border-bottom: 2px solid red;
  border-right: 2px solid white;
  margin-left: 5px;
  margin-right: 5px;
}

.sublist_3 {
  display: flex;
  border-bottom: 2px solid red;
  margin-left: 5px;
  margin-right: 5px;
}

.second_list {
  display: flex;
  justify-content: center;
}
