.container {
  max-width: 1040px;
  margin: 0 auto;
}

.upper_buttons {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.sub_upper_buttons {
  display: flex;
  align-items: center;
  list-style-type: none;
}

/* ниже селектор. сложнее не будет в дальнейшем */

.sub_upper_buttons>li {
  margin: 15px;
}

.live {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red;
  height: 40px;
  width: 100px;
}

/* ниже медиа-запрос */

@media only screen and (max-width: 480px) {
  .upper_buttons {
    display: block;
  }
  .sub_upper_buttons {
    display: block;
  }
  body {
    background-color: green;
  }
}

.available_now {
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 120px;
  border: solid 1px white;
  border-radius: 5px;
}

.promo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.sign_up, .buy_now {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: blue;
  height: 40px;
  width: 100px;
  margin: 10px;
}

.background_pic {
  display: flex;
  padding-left: 200px;
}

.promo_list {
  display: flex;
  align-items: center;
  background-color: #2516c7;
  border: solid #2516c7;
  border-radius: 5px;
  width: fit-content;
  height: 80px;
  margin: auto;
  list-style-type: none;
}

.sublist_1 {
  display: flex;
  border-bottom: 2px solid red;
  margin-right: 5px;
  /* border-right: 2px solid white; должен быть отдельный элемент - выцепи из макета/
  /* бордеры нужно уменьшать паддингами */
}

.play_video_pic, .book_reference, .store_front {
  display: flex;
  height: 25px;
  align-self: center;
  padding-right: 10px;
}

.sublist_2 {
  display: flex;
  border-bottom: 2px solid red;
  margin-left: 5px;
  margin-right: 5px;
}

.sublist_3 {
  display: flex;
  border-bottom: 2px solid red;
  margin-left: 5px;
  margin-right: 5px;
}

.why_learn, .gear {
  display: flex;
  justify-content: flex-start;
  padding-left: 200px;
  margin-top: 50px;
}

.why_learn_text, .gear_text {
  display: flex;
  padding-left: 55px;
}

.a_letter {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 80px;
}

.second_list {
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; попробуй разделить на 2 флекс-контейнера*/
  list-style-type: none;
}

.third_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin-top: 50px;
  margin-bottom: 70px;
}

.input_and_chatpic {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fourth_list, li {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  margin-left: 220px;
}